
.navbar-inverse {
    background-color:#6495ED;
    color:#ffffff;
    border-radius:0;
}

.navbar-inverse .navbar-nav > li > a {
    color:#fff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #6495ED;
    background-color:#00008B;
}
.navbar-inverse .navbar-brand {
    color:#F0F8FF;
}
.breadcrumb {
    background-color:#F0F8FF;
}

#captions{
  text-align: center;
}


body {
	background-color: white;
	color: #000000;
	font-family: Arial, Helvetica, san-serif;
	cursor: default;
}




img{

	width: 100%;
}


#container {
	width: 960px;
	background-color: #172CAF;
	margin-left: auto;
	margin-right:auto;
}


#a1, #a2, #a3, #a4{
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	height: 140px;
	width: 140px;
	background-size: 120%;
	background-position: 25% 25%;
	background-clip: content-box;
	border-style: solid;
	border-width: 5px;
}


.highlightThumb{
	border-color: #00008B;
}

.activeThumb{

	border-color: #00008B;
}

.normalThumb{
	border-color: #6495ED;
}
